<div class="container">    
	<div class="col-md-10 col-md-offset-1">
	  <div class="panel panel-default panel-table">
	    <div class="panel-heading">
	      <div class="row">
	        <div class="col col-xs-6">
	          <h3 class="panel-title">Test Execution Details</h3>
	        </div>
	      </div>
	    </div>
	    <div class="panel-body">
	      <%= form_tag test_executions_path do %>
	      	<%= submit_tag 'Create JSON File', class: "btn btn-success" %>
	      <% end %>
	    </div>
	  </div>
	</div>
</div>
