<div class="container">
	<div class="row">        
	  <div class="col-md-12">
    	<div class="row">
    		<div class="col-sm-7 col-sm-offset-2">		
		    		<div class="panel panel-default">
	  					<div class="panel-heading text-center"><strong>Test Case [ <%= @test_case.test_case_name %> ] - Choose Components</strong></div>
		  				<div class="panel-body">
			  				<div class="panel-body">
			  	  			<div id="tc_comp_folders"> 	
		      					<ul>
		      						<%= build_component_tree_view(@root_folder, '') %>
		      					</ul>
		      				</div>
			        	</div>
			        </div>
			        <div class="panel-footer">
								<div class="row">
									<div class="col-md-12">
										<span class="pull-left">			
											<%= back_button("/test_cases/#{@test_case.test_case_name}") %>
										</span>
										<span class="pull-right">
											<button class="btn btn-warning" onclick="chooseComponents(<%= @test_case.id %>);">Commit</button>
										</span>
									</div>
								</div>
			  			</div>
			  		</div>
	      </div>
      </div>
    </div>
  </div>
</div>      
